In [117]:
import pandas as pd
#Changing column width to fit everything, doesn't take negative integers
pd.set_option('display.max_colwidth', 10)

In [118]:
#building a dataframe
jeopardy_df = pd.read_csv("jeopardy.csv")

In [119]:
print(jeopardy_df.head(5))

   Show Number   Air Date      Round   Category  Value   Question     Answer
0       4680    2004-1...  Jeopardy!    HISTORY   $200  For th...  Copern...
1       4680    2004-1...  Jeopardy!  ESPN's...   $200  No. 2:...  Jim Th...
2       4680    2004-1...  Jeopardy!  EVERYB...   $200  The ci...    Arizona
3       4680    2004-1...  Jeopardy!  THE CO...   $200  In 196...  McDona...
4       4680    2004-1...  Jeopardy!  EPITAP...   $200  Signer...  John A...

In [120]:
#print out column containing the question of each row in dataset 
#this function should take in a list of words 
#return rows in Question column that includes those words 
print(jeopardy_df.columns)
print(len(jeopardy_df))

Index(['Show Number', ' Air Date', ' Round', ' Category', ' Value',
       ' Question', ' Answer'],
      dtype='object')
216930

In [121]:
#renaming columns to fix these strings
jeopardy_df=jeopardy_df.rename(columns={'Show Number': 'Show_Number', ' Air Date': 'Air_Date', ' Round': 'Round', ' Category': 'Category', ' Value': 'Value', ' Question': 'Question', ' Answer':'Answer'})

In [122]:
print(jeopardy_df.columns)

Index(['Show_Number', 'Air_Date', 'Round', 'Category', 'Value', 'Question',
       'Answer'],
      dtype='object')

In [123]:
print(jeopardy_df["Question"].head(2))

0    For th...
1    No. 2:...
Name: Question, dtype: object

In [124]:
#check if there are null values in df
#jeopardy_df.isnull().sum()
jeopardy_df[jeopardy_df.isnull().any(axis=1)]

        Show_Number   Air_Date      Round   Category Value   Question Answer
94817        4346    2003-0...  Jeopardy!  GOING ...  $200  It oft...    NaN
143297       6177    2011-0...  Double...    NOTHING  $400  This w...    NaN

In [125]:
#changing question column from strings to list
# first perhaps change "Question" from obj to string?
#jeopardy_df.Question=jeopardy_df.Question.astype('string')

In [126]:
jeopardy_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216930 entries, 0 to 216929
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Show_Number  216930 non-null  int64
 1   Air_Date     216930 non-null  object
 2   Round        216930 non-null  object
 3   Category     216930 non-null  object
 4   Value        216930 non-null  object
 5   Question     216930 non-null  object
 6   Answer       216928 non-null  object
dtypes: int64(1), object(6)
memory usage: 11.6+ MB

In [127]:
# changing the string to a list of words for Question column
#jeopardy_df['Question']=jeopardy_df.Question.apply(lambda x: x.split(' '))

In [128]:
jeopardy_df.Value

0          $200
1          $200
2          $200
3          $200
4          $200
          ...
216925    $2000
216926    $2000
216927    $2000
216928    $2000
216929     None
Name: Value, Length: 216930, dtype: object

In [129]:
# use pandas iterrows to go over each row and check whether ['King', 'England'] is a subset of Question row
# we can use built in all() method for this 
# change everything to lower case
# have to use regex for each word to also include apostrophe s 
# use df.loc to return only rows with certain conditions
#sample_list = ['King', 'England']

def filter_data(data, list_words):
    
    #sample_list_lower = [x.lower() for x in list_words]
    #list_index = []
    #lower_case_question= [x.lower() for x in row['Question']]
    filtered = lambda x: all(word.lower() in x.lower() for word in list_words)
    return jeopardy_df.loc[jeopardy_df['Question'].apply(filtered)]
    #print(len(list_index))
    #print(sample_list_lower)
filter_data(jeopardy_df, ['King', 'England'])

,Show_Number,Air_Date,Round,Category,Value,Question,Answer
4953,3003,1997-0...,Double...,"""PH""UN...",$200,Both E...,Philat...
6337,3517,1999-1...,Double...,Y1K,$800,In ret...,Ethelred
9191,3907,2001-0...,Double...,WON TH...,$800,This k...,Henry V
11710,2903,1997-0...,Double...,BRITIS...,$600,This S...,James I
13454,4726,2005-0...,Jeopardy!,A NUMB...,$1000,It's t...,4
...,...,...,...,...,...,...,...
208295,4621,2004-1...,Jeopardy!,THE VI...,$600,In 106...,Willia...
208742,4863,2005-1...,Double...,BEFORE...,"$3,000",Dutch-...,Willia...
213870,5856,2010-0...,Double...,URANUS,$1600,In 178...,George...
216021,1881,1992-1...,Double...,HISTOR...,$1000,His ni...,Edward...
216789,5070,2006-0...,Double...,ANCIEN...,$1200,This k...,Wessex

In [130]:
# changing the value column from object to float
# first will need to replace 
#jeopardy_df.Value=jeopardy_df.Value.astype('string')
#jeopardy_df['Value']=jeopardy_df['Value'].str.replace(r'\D','')
#creating new column to hold float Values
# if none exist, fill with 0 
jeopardy_df["Float Value"] = jeopardy_df["Value"].apply(lambda x: float(x[1:].replace(',','')) if x != "None" else 0)
#jeopardy_df.columns

In [131]:
jeopardy_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216930 entries, 0 to 216929
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Show_Number  216930 non-null  int64
 1   Air_Date     216930 non-null  object
 2   Round        216930 non-null  object
 3   Category     216930 non-null  object
 4   Value        216930 non-null  object
 5   Question     216930 non-null  object
 6   Answer       216928 non-null  object
 7   Float Value  216930 non-null  float64
dtypes: float64(1), int64(1), object(6)
memory usage: 13.2+ MB

In [132]:
#using filter_data function to filter out king an find avg value of questions that have king
new_filter = filter_data(jeopardy_df, ['King'])
new_filter['Float Value'].mean()

771.8833850722094

In [140]:
unique_answer=new_filter['Answer'].unique()
len(unique_answer)

5268

In [141]:
# A function to find the unique answers of a set of data
def get_answer_counts(data):
    return data["Answer"].value_counts()

# Testing the answer count function
print(get_answer_counts(new_filter))

Henry VIII                   55
Solomon                      35
Richard III                  33
Louis XIV                    31
David                        30
                             ..
Ice Cream                     1
A Dagger                      1
The Cider House Rules         1
the Red Hot Chili Peppers     1
the Spanish Inquisition       1
Name: Answer, Length: 5268, dtype: int64